
:root {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
}

* {
    outline: 1px solid crimson;
    /* box-sizing: border-box; */
    color: rgba(0, 70, 155, 1);
    /* padding: 0.5%; */
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column wrap;
    background-color: goldenrod;
}

#list {
    list-style: none;
    padding: 0;
    flex-grow: 2;
}

#task-list {
    background-color: rgba(101, 45, 1, 0.7)
}

.task- {
    color: rgb(29, 255, 127)
}